---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section class="w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-2/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600">{subTitle}</p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto h-auto w-24 py-3 sm:mx-0 md:w-32 lg:w-30 lg:py-5"
      viewBox="0 0 230 152"
      fill="none"
      version="1.1"
    >
      <path
        d="M 28.513 14.060 L 24.525 15.067 21.236 17.284 L 17.946 19.500 15.299 24.866 L 12.652 30.232 12.259 45.866 L 11.866 61.500 12.719 93.500 L 13.572 125.500 15.872 130.243 L 18.172 134.986 20.836 136.840 L 23.500 138.694 27 140.018 L 30.500 141.342 48 141.669 L 65.500 141.996 91 141.338 L 116.500 140.680 116.709 119.590 L 116.918 98.500 118.012 88 L 119.106 77.500 120.573 71.103 L 122.039 64.706 121.707 64.374 L 121.375 64.042 109.938 63.037 L 98.500 62.032 76.724 61.358 L 54.949 60.683 55.224 77.050 L 55.500 93.417 69.139 93.125 L 82.779 92.833 83.176 93.666 L 83.574 94.500 83.203 101.815 L 82.831 109.130 65.948 108.815 L 49.066 108.500 47.283 106.716 L 45.500 104.932 45.205 78.158 L 44.910 51.384 47.147 48.541 L 49.383 45.697 67.942 46.366 L 86.500 47.035 101 48.462 L 115.500 49.889 121.080 50.562 L 126.660 51.235 128.011 47.868 L 129.363 44.500 132.789 39 L 136.214 33.500 138.686 30.863 L 141.157 28.226 126.329 24.652 L 111.500 21.079 100.500 19.048 L 89.500 17.018 77 15.468 L 64.500 13.918 48.500 13.486 L 32.500 13.053 28.513 14.060 M 186.628 41.293 L 164.755 57.416 188.128 61.690 L 211.500 65.963 212.337 65.982 L 213.174 66 209.087 58.423 L 205 50.846 205 50.535 L 205 50.224 214 48 L 223 45.776 223 42.388 L 223 39 222.250 39.021 L 221.500 39.042 213.076 41.514 L 204.652 43.986 204.385 43.719 L 204.118 43.452 206.609 34.609 L 209.099 25.766 208.800 25.468 L 208.500 25.170 186.628 41.293 M 161.255 64.300 L 159.256 66.500 156.660 70.501 L 154.063 74.503 151.966 80.501 L 149.868 86.500 148.398 93.500 L 146.928 100.500 146.320 120.797 L 145.711 141.095 160.380 140.947 L 175.048 140.800 176.882 140.321 L 178.715 139.841 179.310 125.171 L 179.904 110.500 181.448 104.219 L 182.991 97.937 185.129 93.719 L 187.266 89.500 190.136 85.852 L 193.006 82.205 197.753 79.226 L 202.500 76.247 207.406 74.428 L 212.312 72.609 206.906 71.337 L 201.500 70.065 185.500 66.638 L 169.500 63.212 166.377 62.657 L 163.254 62.101 161.255 64.300"
        fill="#6B7280"></path>
    </svg>
  </div>
</section>
